@charset "UTF-8";

.toast-message {
  display:none;
  position:fixed;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  background:#222;
  color:#fff;
  padding:12px 20px;
  border-radius:6px;
  z-index:9999;
}
.toast-message.show { display:block; }