<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.event.model.mapper.EventMapper">

    <!--  페이징 처리용으로 게시글 전체 개수 -->
    <select id="selectEventCount" resultType="_int">
        SELECT
               COUNT(*)
        FROM
               CT_EVENT
        WHERE
               STATUS = 'Y'
    </select>
    
    <select id="selectEventList" resultType="eventdto">
	    SELECT
	           EVENT_NO eventNo
	         , EVENT_TITLE eventTitle
	         , START_DATE startDate
	         , END_DATE endDate
	         , FILE_PATH filePath
	         , ORIGIN_NAME originName
	         , CHANGE_NAME changeName
	    FROM
	           CT_EVENT
	    JOIN
	           CT_EVENT_ATTACHMENT ON (REF_BNO = EVENT_NO)
	    WHERE 
	           CT_EVENT.STATUS = 'Y'
	   	ORDER 
	   	   BY
	           EVENT_NO DESC
    </select>
    

</mapper>
