<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.used.model.mapper.UsedMapper">

	<select id="selectUsedListAll"
			parameterType="map" 
			resultType="com.kh.spring.used.model.dto.UsedListDTO">
		 SELECT
		        *
		   FROM (
		       SELECT
		              ROWNUM AS RNUM
		            , B.*
		         FROM     
					  (		 
		 			  SELECT
						     U.USED_NO usedNo
			        	   , U.USED_TITLE usedTitle
			        	   , U.USED_PRICE usedPrice
			        	   , U.STATUS status
			        	   , U.ENROLL_DATE enrollDate
			        	   , U.VIEW_COUNT viewCount
			        	   , C.MANUFACTURER manufacturer
					       , C.MODEL model
					       , C.CAR_YEAR carYear
					       , C.DISTANCE distance
					       , C.TRANSMISSION transmission
					       , C.FUEL_TYPE fuelType
					       , C.REGION region
					       , C.CAR_COLOR carColor
					       , C.PHONE phone
					       , CAT.CATEGORY_NAME categoryName          
					       , ATT.FILE_PATH thumbnail
					    FROM
					         CT_USED_LISTING U
					    JOIN
					         CT_CAR_INFO C ON U.USED_NO = C.USED_NO
					    JOIN
					         CT_USED_CATEGORY CAT ON U.CATEGORY = CAT.CATEGORY_NO
					    LEFT
					    JOIN
		                     (
		                     SELECT
		                            REF_BNO
		                          , FILE_PATH
		                       FROM
					                CT_USED_ATTACHMENT		          
		                      WHERE
		                            STATUS = 'Y'
		                        AND
		                            ROWNUM = 1         
		                     ) ATT ON ATT.REF_BNO = U.USED_NO
	<if test="keyword != null and keyword != ''">
		                     WHERE
		                           U.USED_TITLE LIKE '%' || #{keyword} || '%'
	</if>
		                     ORDER
		                        BY
		                           U.USED_NO DESC
		                           ) B
		                     )
		                     WHERE
			                       RNUM BETWEEN #{startRow} 
	                           AND 
	                               #{endRow}     
	</select>
	
	<select id="selectListCount"
			parameterType="string"
			resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       CT_USED_LISTING
	<if test="keyword != null and keyword != ''">
		WHERE
			  USED_TITLE LIKE '%' || #{keyword} || '%'
	</if>     
	</select>
	
	<select id="getNextUsedNo" resultType="long">
    	SELECT SEQ_USED.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertUsed"
			parameterType="UsedDTO">
		INSERT
		  INTO
		       CT_USED_LISTING
		VALUES
			   (
			   #{usedNo}
		     , #{userNo}
		     , #{usedTitle}
		     , #{usedContent}
		     , #{usedPrice}
		     , #{category}
		     , '판매중'
		     , SYSDATE
		     , DEFAULT
		     , #{thumbnail}
		       ) 
	</insert>
	
	
	<insert id="insertCarInfo"
			parameterType="CarInfoDTO">
		INSERT
		  INTO
		       CT_CAR_INFO
		VALUES
		       (
		       SEQ_CAR_INFO.NEXTVAL
		     , #{manufacturer}
		     , #{model}
		     , #{carYear}
		     , #{distance}
		     , #{fuelType}
		     , #{transmission}
		     , #{region}
		     , #{carColor}
		     , #{usedNo}
		     , #{phone}
		       )  
	</insert>
	
	<insert id="insertAttachment"
			parameterType="UsedAttachmentDTO">
		INSERT
		  INTO
		       CT_USED_ATTACHMENT
		VALUES
		       (
		       SEQ_USED_FILE_NO.NEXTVAL
		     , #{refBno}
		     , #{originName}
		     , #{changeName}
		     , #{filePath}
		     , SYSDATE
		     , 'Y'
		       )       
	</insert>

</mapper>